<h1>New Restaurant</h1>
<%= form_for(@restaurant) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> </br></br>
  <%= f.label :address %>
  <%= f.text_field :address %> </br></br>
   <%= f.label :phone_number %>
  <%= f.text_field :phone_number %> </br></br>
   <%= f.label :category %>
  <%= f.select :category, [['Italian'],['Japanese'],['Chinese'],['French'], ['Belgian']] %> </br></br>
  <%= f.submit %>
<% end %>